---
layout: default
---



{% assign organiser = site.data.organisers[page.organiser] %}


<!--
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header"> 
    <h2 class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h2>
    <h3 class="post-time">From {{ page.start_time}} to {{page.end_time }}</h3>
  </header>
</article> --> 
        


<article class="post tag-space space-science" itemscope itemtype="http://schema.org/BlogPosting" style="background-color:#fff;">
    <header class="cover post-header" style="height: 50px;">
        <div class="post-bg"></div>
        <div class="cover-content">
            <div class="inner">
                <h1 class="post-title">{{ page.title }}</h1>
            </div><!-- .inner -->
        </div><!-- .cover-content -->
    </header><!-- .cover -->
    <div class="post-content inner">
        <p></p>
        <p>{{ content }}</p>
        <div id="disqus_thread"></div>
    </div><!-- .post-content -->
</article><!-- .post -->